body {
    margin: 0;
}

nav {
    background-color: #1F2937;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a {
    color: #e5e7eb;
    font-size: 18px;
    font-family: 'Roboto';
    text-decoration: none;
    padding: 8px 16px;
}

nav ul li a:hover {
    color: #3882f6;
}

#navbar-logo{
    font-size: 24px;
    font-family: 'Roboto';
    color: #f9faf8
}

#hero{
    display: flex;
    background-color: #1F2937;
    padding: 10%;
}

#hero-text{
    width: 50%;
    margin-right: 50px;
}

#hero-text h1{
    font-size: 48px;
    font-family: 'Roboto';
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: 0;
}

#hero-text p{
    color: #e5e7eb;
    font-size: 18px;
    font-family: 'Roboto';
    margin-top: 0;
}

#hero img{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}

#hero-text button {
    background-color: #3882f6; 
    color: white;
    border: none; 
    padding: 10px 40px; 
    text-align: center; 
    font-size: 16px; 
    font-weight: 900;
    font-family: 'Roboto';
    cursor: pointer; 
    border-radius: 10px; 
    transition: background-color 0.3s ease;
}

#hero-text button:hover {
    background-color: #285caf;
}

#info{
    padding: 0% 10% 0% 10%;
}

#info-header{
    font-family: 'Roboto';
    font-weight: 900;
    color: #1F2937;
    font-size: 36px;
    display: flex;
    justify-content: center;
}

#info ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.img-container{
    display: flex;
    justify-content: center;
}

#info ul li p{
    margin-top: 10px;
    text-align: center;
    font-family: 'Roboto';
    font-size: 15px;
    color: #1f2937;
    padding: 0% 10% 0% 10%;
}

#info img{
    width: 75%;
    border: 5px solid #3882f6;
    border-radius: 20px;
}